<a href="javascript:;" class="list-group-item clearfix"
[ngStyle]="{borderColor: recipieItem.id !=0 && recipieItem.id === selected ? 'red' : 'black'}"
(click)="onItemSelect()">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{recipieItem.name}}</h4>
        <p class="list-group-item-text">{{recipieItem.description}}</p>
    </div>
    <span class="pull-right">
        <img [src]="recipieItem.imagepath" alt="" 
        class="img-responsive" style="max-height: 50px;">
    </span>
</a>
<button class="btn btn-danger" (click)="ondeleteItem()">Delete</button>
