<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
    <div class="col-sm-5 form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="recipeName">
    </div>
    <div class="col-sm-5 form-group">
        <label for="description">Description</label>
        <textarea name="desc" id="desc" cols="30" rows="10" 
        class="form-control" [(ngModel)]="recipeDescription"></textarea>
    </div>
</div>
<!-- ngOnChanges in child cmponent from parent component-->
<div class="row">
    <div class="col-xs-6">
        <button (click)="updateChildComponentName()">Update Child Component Property</button>
    </div>
</div>
<div class="row">
    
    <div class="col-xs-12">
        <app-recipe-item 
        *ngFor="let recipe of recipes; let i = index"
        [recipieItem]="recipe"
        [index]="i"
        [name]="personName"
        (deleteItem)="OndeleteItem($event)"
        >
        </app-recipe-item>
    </div>
</div>

